{% extends "base.twig" %}

{% block title %} Acteur {% endblock %}

{% block content %}

echo <pre>
{# {{dump (movies)}} #}
    <div id = "selection">

        <ul>
        <div class="film">
            <li>{{acteur.FirstName }} &nbsp; {{acteur.LastName}} </li><br>
            <br>
            <img src = "../public/images/{{acteur.Photo}}" alt = "Photo de l'acteur" width="250">
            <br>
            <li>Ses films : </li>
            <br>
            {% for m in acteur.films %}
            {{ m.titre }}
            {% endfor %}
        </div>

    </div>

{% endblock %}
