{% extends "base.twig" %}

{% block title %} Acteurs{% endblock %}

{% block content %}

 {# echo <pre>
    {{dump (film)}} #}

    <div id="selection">
    <h2>Ajouter un acteur au film</h2>
        <h3>{{film.Titre}}</h3>
        <br>
         <form method="post" action="../addacteur_film">
        <div>
        <br>
        <label for="id-acteur">Nom de l'acteur</label>
        <select name="id_acteur" id="id_acteur"> <?php
            {% for acteur in acteurs %}
        <option value="{{acteur.Id_acteur}}"> {{acteur.FirstName}} &nbsp; {{acteur.LastName}}</option>
      {% endfor %}
        </select>
        <br>
        <br>
        <label for="photo">Photo de l'acteur</label>
        <input type="text" name="photo" placeholder="url photo"><br>
        <input type="hidden" name="id_film" value="{{film.Id_film}}">
    </div>
    <br>
    <button class="bouton2">Ajouter le nouvel acteur</button>
    </form>
  </div>

{% endblock %}