{% extends "base.twig" %}

{% block title %} Film {% endblock %}

{% block content %}

    <div id="selection">

        <ul>
            <div class="film">
                <li><h1>{{film.Titre}}</h1></li> <br>
                <br>
                <img src="../public/images/{{film.Affiche}}" alt="affiche du film" width="350">
                <br>
                <li>Date de sortie : {{ film.date_de_sortie|date("m/d/Y") }}</li><br>
                <br>
                <li>Acteurs : </li>
                {% for actor in film.actors %}
                <li><a href = "../acteur/{{actor.Id_acteur}}">{{actor.FirstName}} &nbsp; {{actor.LastName}} </a></li>
                {% endfor %}
                <br>
                <li>Realisateur : </li>
                <li><a href = "../realisateur/{{film.director.id_realisateur}}">
                {{film.director.FirstName}} &nbsp; {{film.director.LastName}}</a></li><br>  
                <br>
                <li>Genre du film : </li>
                {{film.genre.Nom_genre}} <br>
                <br>
                {% if session.user.role == 'admin' %}
                <button  class="bouton2"><a href = "../modiffilm/{{film.Id_film}}">Modifier le film</a></button> 
                {% endif %}
                <br>
                {% if session.user.role == 'admin' %}
                <button  class="bouton2"><a href = "../ajouteacteur/{{film.Id_film}}">Ajouter un acteur</a></button>
                {% endif %}
                {% if session.user.role == 'user' %}
                <li>Donnez une note à votre film : </li>
                <form action="" method="post">
                <select name="note" id="note">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select>
                <label name="note"> sur 5</label>
                </form>
                <br>
                <li>Vous pouvez laisser un commentaire sur ce film : </li>
                <br>
                <form action="" method="post">
                <textarea name="commentaire" id="commentaire" cols="30" rows="5"></textarea>
                <br>
                <button  class="bouton2">Ajouter le commentaire</button>
                </form>
            
                 {% endif %}
            </div>
        </ul>
    </div>

    {% endblock %}
        