{% extends "base.twig" %}

{% block title %} Realisateur {% endblock %}

{% block content %}

{# echo <pre>
    {{dump (realisateur.photo)}} #}
    <div id = "selection">

        <ul>
        <div class="film">
        <li>{{realisateur.FirstName}} &nbsp; {{realisateur.LastName}}</li><br>
        <br>
        <img src="../public/images/{{realisateur.photo}}" alt = "photo du realisateur" width="250">
        <br>
         <li>Ses films : </li>
         <br>
            {% for m in realisateur.films %}
            {{ m.titre }}<br>
            {% endfor %}
    </div>
    
{% endblock %}
